
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family:"Gotham Bold";
    src:
    url("../fonts/Gotham Bold.eot") format("eot"),
    url("../fonts/Gotham Bold.woff") format("woff"),
    url("../fonts/Gotham Bold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Gotham Book";
    src:
    url("../fonts/Gotham Book.eot") format("eot"),
    url("../fonts/Gotham Book.woff") format("woff"),
    url("../fonts/Gotham Book.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Gotham Medium";
    src:
    url("../fonts/Gotham Medium.otf") format("otf"),
    url("../fonts/Gotham Medium.ttf") format("truetype"),
    url("../fonts/Gotham Medium.woff") format("woff"),
    url("../fonts/Gotham Medium.woff2") format("woff2");
    font-weight:normal;
    font-style:normal;
}
h1, h2, h3, h5, li, p{
font-family:"Gotham Book"
}

.container-header{
  height: 20%;
  width: 100%;
  top: 0;
  position: absolute;

}

.container__absolute{
width: 1170px;
margin: 0 auto;
min-height: 20%;
position: relative;
}

.header__menu-mine {
text-align: center;
position: absolute;
left: 350px;
}
.header__logo {
margin: 70px;
width: 250px;
position: absolute;
left: 0;
}

.header__menu-mine ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

.header__menu-mine li {
	display: inline-block;
	margin: 70px auto;
	text-decoration: none;
	}

.header__menu-mine li a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight:bold;
	color: #fff;
	margin: 0 20px;
}



.logo img{
display:inline-block;
text-align: left;
display:block;
margin: 70px auto;
}



.circle{
display: inline-block;
width: 8px;
height: 8px;
border: 1px solid white;
border-radius: 50%;
margin-bottom: 2px;
margin-right:10px;
 }

.header__menu-mine li a:hover .circle{
display: inline-block;
width: 8px;
height: 8px;
border: 1px solid white;
border-radius: 50%;
margin-bottom: 2px;
background: #FFF;
}

.header__menu-social {
width: 200px;
margin: 65px 0;
position: absolute;
right: 0;

}

.header__menu-social ul {
  list-style: none;
}


.header__menu-social ul li {
  width: 30px;
  height: 30px;
  line-height: 10px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.header__menu-social ul li .fa {
  color: #D8E2DC;
  font-size: 1em;
  margin-top: 4px;
  transition: all 0.5s ease;
}

.header__menu-social ul li:hover.facebook {
  border: 3px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.header__menu-social ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}


.header__menu-social ul li:hover.twitter {
  border: 3px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.header__menu-social ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.header__menu-social ul li:hover.instagram {
  border: px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.header__menu-social ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.ba-slider{
	height: 100vh;
}

.ba-slider_item{
background: url(../images/bg_header.jpg)  50% no-repeat;
background-size: cover;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.item__text {
margin: 20% auto;
text-align: center;
color: #fff;
text-transform: uppercase;

}
.item__text h1 {
font-size: 32px;

}

.item__text p {
font-size: 1.31em;

}
.header__scroll {
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	bottom: 50px;
	left: 49%;
	text-align: center;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    padding: 10px;
    }
.slick-dots {
	 position: absolute;
     right: 40px;
     top: 300px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 200px;
     width: 10px;
     }

     .slick-dots li button:before{
     	height: 6px;
     	display: flex;
     	flex-direction: column;
     	justify-content: space-between;
     	color: transparent;
     	width: 6px;
     	border-radius: 50%;
     	border: 1px solid white;
     	margin-top: 30px;
     	}

     	button:before{
     		height: 6px;
     		margin-top: 30px;
     		color: transparent;
     		width: 6px;
     		border-radius: 50%;
     		border: 1px solid white;
     		}

     		.slick-dots li.slick-active button::before{
     			height: 6px;
     			color: transparent;
     			width: 6px;
     			border-radius: 50%;
     			border: 1px solid white;
     			background: white;
     			}

.container{
  width: 1170px;
  margin: 0 auto;
  min-height: 100%;
}

.container--relative{
  position: relative;
}




.what-we-do{
  background-color: #FFFFFF;
  margin: 0;
}

h1{
  text-align: center;
}

.about-wrap__element{
  float: left;
  width: 50%;
  padding-bottom: 30px;
  margin: 20px 0;
  position: relative;
}

.about-wrap__element--text{
  padding: 10px 15px;
}

.image-wrap{
	margin-top:70px;
  position: relative;
  z-index: 10;
}

.img{
  width: 100%;
  height: 471px;
  background: url(../images/trade.jpg)  50% no-repeat;
}

.image-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  background:  #55B7FF;
  z-index: -1;
  left: -40%;
}

.image-wrap--right .img{
  background: url(../images/commerce.jpg)  50% no-repeat;
}

.image-wrap--right .image-shadow{
  background-color: #7E5AFF;
  opacity: 1;
  left: 40%;
}

.clear-fix::after{
  content: '';
  display: table;
  clear: both;

}
.what-we-do__header{
 font-size: 32px;
  width: 330px;
  margin: 100px auto;
  margin-bottom: 100px;
  position: relative;
  z-index : 1;
}
.what-we-do__header::before {
  content : "";
  position: absolute;
  left    : 120px;
  bottom  : 50px;
  height  : 0px;
  width   : 100px;
  border-top:2px solid black;
  }


.news__slider .slick-dots {
	 position: absolute;
	 bottom: -60px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     height:10px ;
     width: 200px;
     top:initial;
     right: initial;
     left: 40%;
     }

     .news__slider .slick-dots li button:before{
     	height: 6px;
     	display: flex;
     	flex-direction: row;
     	justify-content: space-between;
     	color: transparent;
     	width: 6px;
     	border-radius: 50%;
     	border: 1px solid white;
     	margin: 0 30px;
     	}

     	.news__slider button:before{
     		height: 6px;
     		margin-top: 30px;
     		color: transparent;
     		width: 6px;
     		border-radius: 50%;
     		border: 1px solid white;
     		}

     		.news__slider .slick-dots li.slick-active button:before{
     			height: 6px;
     			color: transparent;
     			width: 6px;
     			border-radius: 50%;
     			border: 1px solid white;
     			background: white;
     			}







.about-wrap__element h1, h4 {
text-align: left;
}

.about-wrap__element--text img{
height: 1em;
margin-right: 10px;
}
.about-wrap__element--text{
margin-top: 100px;

}
.about-wrap__element--text1{
padding-left: 70px;
}
.about-wrap__element--text2{
padding-left: 0px;
}
.font-italic {
font-style: italic;
}
.about-wrap__element--text .btn__more {
  width: 190px;
  height: 50px;
  background: #FFF;
  border: 1px solid;
  margin: 40px 0;
}
.about-wrap__element--text h1 {
font-size: 32px;
margin-top:0;
}
.about-wrap__element--text h4 {
margin-bottom:0.2em;
}



.latest-news{
background: url(../images/bg_city.jpg)  50% no-repeat;
width: 100%;
height:1035px;
background-size: cover;
position: relative;
}

.latest-news__header{
  font-size: 24px;
  width: 50%;
  margin: 100px auto;
  position: relative;
  z-index : 1;
  color: #FFF;
  padding-top: 100px;
}
.latest-news__header:before {
  content : "";
  position: absolute;
  left    : 365px;
  bottom  : 90px;
  height  : 0px;
  width   : 100px;
  border-top:2px solid #fff;
  }

.latest-news__container
{
position: relative;
margin: 0 auto;
width: 1185px;
padding: 20px;
}
.ba-slider-arrow{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding-top:8px;
    text-align: center;
    vertical-align: 50px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
}

.ba-slider-arrow__next{
    right: -40px;

}

.ba-slider-arrow__prev{
    left: -40px;
}




.news__slider_item {
width: 370px;
height: 520px;
background: #FFF;
margin-left: 20px;
position: relative;
}
.news__item__text{
background: #FFF;
margin: 35px;


}
.news__item__image {
width: 365px;
height: 240px;
}

.news__slider_item1 .news__item__image {
background: url(../images/lauren-mancke-60633.jpg)  50% no-repeat;
}

.news__slider_item2 .news__item__image {
background: url(../images/matthew-hamilton-202227.jpg)  50% no-repeat;
}

.news__slider_item3 .news__item__image {
background: url(../images/joel.jpg)  50% no-repeat;
}

.news__item__profile{
width: 370px;
height: 100px;
}

.news__item__profile_avatar{
width: 65px;
height: 65px;
display: inline-block;
margin-left: 35px;

}
.news__slider_item1 .news__item__profile_avatar {
background: url(../images/isaac.jpg)  50% no-repeat;
}

.news__slider_item2 .news__item__profile_avatar {
background: url(../images/dominic.jpg)  50% no-repeat;
}

.news__slider_item3 .news__item__profile_avatar {
background: url(../images/alice.jpg)  50% no-repeat;

}
.news__item__profile_text {
display: inline-block;
width: 70%;
position:absolute;
bottom: 80px;
left: 110px;
}

.news__item__profile_text__date {
color: #84CBFF;

}

.news__item__text h3 {
text-transform: uppercase;
}





.gallery__header{
 font-size: 24px;
  width: 330px;
  margin: 100px auto;
  margin-bottom: 100px;
  position: relative;
  z-index : 1;
}
.gallery__header:before {
  content : "";
  position: absolute;
  left    : 120px;
  bottom  : 90px;
  height  : 0px;
  width   : 100px;
  border-top:2px solid black;
  }


.gal_img_360{
background: url(../images/gal_360.jpg) 50% no-repeat;
width:565px;
height: 440px;
margin-top:15px;
}

.gal_img_1{
background: url(../images/gal1.jpg) 50% no-repeat;
width:280px;
height: 215px;
}
.gal_img_2{
background: url(../images/gal2.jpg) 50% no-repeat;
width:280px;
height: 215px;
}
.gal_img_3{
background: url(../images/gal3.jpg) 50% no-repeat;
width:280px;
height: 215px;
}
.gal_img_4{
background: url(../images/gal4.jpg) 50% no-repeat;
width:280px;
height: 215px;
}
.cont{
padding-top:0;
}

#see-more {
  display: inline-block;
  width: 190px;
  height: 50px;
  background: #FFF;
  border: 1px solid;
  margin: 60px 41% 140px;
  text-align:center;
}

#map{
    height: 700px;
    }

.foo {
height: 525px;
background: url(../images/bg_foo.jpg) 50% no-repeat;
width: 100%;
background-size: cover;

}
.foo__container{
width: 772px;
margin: 0 auto;
}
 .foo__wrap {
 height: 700px;
 width: 100%;
 display: inline-block;
 height: 80px;
 margin: 250px auto 0;
 position: relative;

 }


.foo__menu-social {
width: 180px;
padding-bottom:50px;
left: 610px;
bottom: -20px;
position: absolute;

}

.foo__menu-social ul {
  list-style: none;
}


.foo__menu-social ul li {
  width: 40px;
  height: 40px;
  line-height: 10px;
  margin: 10px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

.foo__menu-social ul li .fa {
  color: #D8E2DC;
  font-size: 1em;
  margin-top: 8px;
  transition: all 0.5s ease;
}

.foo__menu-social ul li:hover.facebook {
  border: 3px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.foo__menu-social ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}


.foo__menu-social ul li:hover.twitter {
  border: 3px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.foo__menu-social ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.foo__menu-social ul li:hover.instagram {
  border: px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.foo__menu-social ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.foo__logo {
width: 250px;
}

.foo__text{
margin-top:50px;
color:#fff;
}

.foo__text__dash{
height:40px;
width: 20px;
border-left: 2px solid white;
}

.foo__contact{
height: 450px;
width: 770px;
position: absolute;
background-color: #fff;
bottom: 140px;
padding: 50px;
}

.foo__contact__header{
  width: 50%;
  margin: 0 auto;
  position: relative;
  z-index : 1;
  color: #000;
  padding-top: 0;
}
.foo__contact__header::before {
  content : "";
  position: absolute;
  left    : 130px;
  bottom  : 60px;
  height  : 0px;
  width   : 100px;
  border-top:1px solid #2C4058;
  }
.foo__contact__header h1{
font-size: 32px;
text-align: center;
margin: 50px auto 0;
color:#2C4058
}

.wrap__pannels {
display: flex;
width: 100%;


}

.foo__contact__leftpannel {
width: 50%;
padding-left: 64px;
margin: 0 auto 100px;

}
.foo__contact__rightpannel{
width: 50%;
padding-left: 64px;
}
.foo__contact__leftpannel p, .foo__contact__rightpannel {
margin-top: 44px;
font-size: 18px;
color:#2C4058

}

.foo__contact__leftpannel p:first-child{
margin-top:0;
}
.fas , .far{
color: #7E5AFF;
}
.foo__contact__rightpannel{
padding-left: 20px;
}
.foo__contact__rightpannel{
margin-top:0;
}

.input-email {
width: 320px;
height: 40px;
border: none;
margin-top: 20px;
border-bottom: 1px solid #ccc;
}

.btn__contact {
  width: 140px;
  height: 50px;
  background: #FFF;
  border: 1px solid;
  margin: 40px 0 0 55%;
  flex: right;
}
